/* ProjectDetails.css */

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.project-details-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.project-details {
  flex: 1;
  background-color: #1f1f1f;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%; /* Remover restrição de largura */
  margin: 20px; /* Ajuste para espaçamento */
  text-align: center;
}

.project-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.project-info {
  margin-top: 20px;
}

.project-progress,
.task-progress {
  width: 100%;
  margin-top: 10px;
  background-color: #ffffff;
  color: #000000;
}

.progress-percentage,
.task-progress-percentage {
  display: block;
  margin-top: 5px;
}

button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

.project-tasks {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.project-tasks th,
.project-tasks td {
  border: 1px solid #ffffff;
  padding: 10px;
  text-align: left;
}

.project-tasks th {
  background-color: #333333;
}

.project-tasks td {
  background-color: #2c2c2c;
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.timeline-stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.timeline-stage::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -50%;
  right: -50%;
  height: 4px;
  background-color: #ccc;
  z-index: -1;
}

.timeline-stage:first-child::before {
  left: 50%;
}

.timeline-stage:last-child::before {
  right: 50%;
}

.timeline-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 10px;
  position: relative;
}

.timeline-circle.active {
  background-color: #007bff;
}

.timeline-circle.completed {
  background-color: #007bff;
}

.timeline-circle.completed::after {
  content: '✔';
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}

.timeline-label {
  color: #ffffff;
}

.buttons-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.report-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.report-button:hover {
  background-color: #0056b3;
}

.timeline-stage.selected .timeline-circle {
  background-color: green; /* Altere a cor para verde quando estiver selecionado */
}

.timeline-stage .task-percentage {
  font-size: 10px;
  color: #ccc;
}

.blocked-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
}
