/* Projects.css */

.StyleCard {
    padding: 20px;
  }
  
  .slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    width: 350px; /* Aumentando a largura do card */
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .content {
    padding: 20px;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .sub-title {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #555;
  }
  
  .progress-container {
    margin-bottom: 15px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  .progress-container progress {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #333;
  }
  
  #progress-percentage {
    display: block;
    text-align: center;
    margin-top: 5px;
  }
  
  .budget-container {
    margin-bottom: 15px;
  }
  
  .budget-container div {
    margin-bottom: 5px;
  }
  
  .btn {
    text-align: center;
  }
  
  .btn button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn button:hover {
    background-color: #0056b3;
  }
  
  /* Ajustes para o countdown */
  .countdown-card {
    font-size: 14px;
  }
  
  .timer-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .timer-inner {
    display: flex;
    justify-content: center;
  }
  
  .timer-segment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1px;
  }
  
  .time {
    font-size: 12px; /* Diminuindo o tamanho dos caracteres do countdown */
  }
  
  .label {
    font-size: 10px; /* Diminuindo o tamanho do texto do countdown */
    text-transform: uppercase;
  }
  
  .divider {
    font-size: 12px; /* Diminuindo o tamanho do divisor do countdown */
    margin: 0 1px;
  }
  