/* HeaderTwo.css */
header {
  background-color: rgba(9, 37, 84, 0.9) !important; /* Azul escuro com 90% de opacidade */
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end; /* Alinha o conteúdo à direita */
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: flex-end; /* Alinha o conteúdo ao final */
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  position: static; /* Remove a posição absoluta */
  margin-top: 0; /* Remove a margem superior */
}

.language-switcher {
  /* Adiciona estilo opcional para LanguageSwitcher se necessário */
}

.btn-login {
  background-color: #007bff; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap; /* Impede quebra de linha dentro do botão */
}

.go-top {
  display: none; /* Botão para voltar ao topo invisível por padrão */
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.go-top.active {
  display: block; /* Torna o botão visível quando ativo */
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Empilha os itens verticalmente */
    align-items: flex-start; /* Alinha os itens ao início */
    padding: 10px 0; /* Ajusta o padding para dispositivos móveis */
  }

  .btn-login {
    background-color: #0056b3; /* Ajusta a cor de fundo do botão para contraste em dispositivos móveis */
  }

  .go-top {
    display: block; /* Torna o botão de voltar ao topo visível em dispositivos móveis */
    position: fixed; /* Posiciona o botão fixo no canto inferior direito */
    bottom: 20px;
    right: 20px;
  }
}
