/* src/components/Marketplace/Marketplace.css */

.marketplace-container {
  padding: 20px;
  text-align: center;
}

.marketplace-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.marketplace {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
