
header {
  padding-top: 5rem;
  padding-inline: 1rem;
  margin-bottom: 5rem;
  overflow: hidden;
}

.header__container {
  padding: 0;
  max-width: calc(var(--max-width) - 2rem);
  display: grid;
  background-color: var(--extra-light);
  border-radius: 2rem;
}

.header__content {
  padding: 5rem 2rem;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 5.5rem;
  color: var(--text-dark);
  text-align: center;
}

.header__content h1 span {
  position: relative;
  isolation: isolate;
}

.header__content h1 span::before {
  position: absolute;
  content: "";
  top: 0;
  left: -1rem;
  height: 100%;
  width: calc(100% + 4rem);
  transform: rotate(-2deg);
  z-index: -1;
}

.header__content h1 span:nth-child(1)::before {
  background-color: var(--white);
}

.header__content h1 span:nth-child(4)::before {
  background-color: var(--primary-color);
}

.header__content p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
  text-align: center;
}

.header__btns {
  text-align: center;
}

.header__image img {
  max-width: 500px;
  margin-inline: auto;
}