/* LanguageSwitcher.css */
.language-switcher {
  position: relative;
  display: inline-block;
}

.language-switcher select {
  appearance: none; /* Remove a aparência padrão do select */
  background-color: rgba(9, 37, 84, 0.9); /* Cor de fundo com opacidade */
  color: #fff; /* Cor do texto */
  border: 2px solid #007bff; /* Cor da borda */
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  outline: none; /* Remove o contorno padrão */
  transition: border-color 0.3s, box-shadow 0.3s; /* Transição suave */
  position: relative;
  width: 100%;
  background: rgba(9, 37, 84, 0.9) url('path-to-dropdown-icon.svg') no-repeat right center; /* Adiciona o ícone dropdown */
  background-size: 20px; /* Ajusta o tamanho do ícone dropdown */
}

.language-switcher select:focus {
  border-color: #00d4ff; /* Cor da borda ao focar */
  box-shadow: 0 0 5px rgba(0, 212, 255, 0.5); /* Efeito de brilho */
}

.language-switcher option {
  background-color: rgba(9, 37, 84, 0.9); /* Cor de fundo das opções */
  color: #fff; /* Cor do texto das opções */
  padding: 10px; /* Padding das opções */
  border: none; /* Remove borda das opções */
  font-size: 16px; /* Ajusta o tamanho da fonte das opções */
}

.language-switcher option:hover {
  background-color: rgba(0, 123, 255, 0.8); /* Cor de fundo ao passar o mouse */
}

.language-switcher select::-ms-expand {
  display: none; /* Remove o ícone padrão do IE */
}
