.intro-section {
  position: relative;
  background-color: #092554; /* Cor de fundo */
  color: #ffffff; /* Cor do texto */
  text-align: center; /* Alinha o texto ao centro */
  padding: 5rem 1rem; /* Padding ajustável */
  min-height: 100vh; /* Garante que ocupe toda a altura da viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-section-text {
  z-index: 10; /* Garante que o texto fique acima dos outros elementos */
  margin-bottom: 2rem; /* Espaçamento inferior */
}

.mountain {
  width: 100%;
  max-width: 600px; /* Ajuste o tamanho conforme necessário */
  height: auto;
}

button {
  background: none; /* Remove o fundo do botão */
  border: none; /* Remove a borda do botão */
  color: #ffffff; /* Cor do texto */
  cursor: pointer; /* Adiciona um cursor de ponteiro ao passar sobre o botão */
}

button img {
  width: 40px; /* Ajuste o tamanho conforme necessário */
  height: auto;
}

button span {
  font-size: 1rem; /* Tamanho da fonte */
}

.absolute {
  position: absolute;
}

.left-0 {
  left: 0;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.bottom-0 {
  bottom: 0;
}

.z-10 {
  z-index: 10;
}

.w-full {
  width: 100%;
}

.pb-8 {
  padding-bottom: 2rem; /* Ajuste o padding inferior conforme necessário */
}
